@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    position: sticky;
    background-color: black;
    color: white;
    display: flex;
}


nav ul{
    color: white;
    height: 65px;
    list-style-type: none;
    display: flex;
    font-size: 1.5em;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    height: 48px;
    display: flex;
    width: 48px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.container{
    min-height: 75vh;    
    background-color: red;
    /* align-items: center; */
    display:flex;
    margin: 23px 0;
    padding: 15px 25px;
    width: 70%;
    background-image: url('bg.jpg');
    border-radius: 12px;
    margin-left: 17%;
}


.bottom{
    background-color: black;
    height: 130px;
    display: flex;
    justify-content: center;
    position: sticky;
    color: white;
    align-items: center;
    flex-direction: column;
    
}

#myprogressbar{
    width: 80%;
    align-items: center;
}

.icons{
margin-top: 14px;
cursor: pointer;
}

.songlist{
    color: white;
    margin: 0;
}

.songItems{
    background-color: white;
    color: black;
    display: flex;
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    justify-content: space-between;
    width: 98%;
}
img{
    width: 50px;
    height: 50px;
    display: flex;
    margin: 0 0;
    
}

.title{
    font-size: larger;
    display: flex;
    font-weight: bolder;
    margin: 10px 10px;
}



.timespan{
    font-size: larger;
    display: flex;
    font-weight: bolder;
    margin: 10px 10px;      
}

.timespan i {
    margin: 1px 10px;
    display: flex;
    cursor: pointer
}
.songBar{
    position: absolute;
    left: 10vw;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.songBar img{
   height: 10px;
   display: flex;
   margin: 15px;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

